* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   text-decoration: none;
   }
  body{
       background-color: hsla(0, 0%, 50%, 0.15);
   }
   .header{
       padding: 15px;
          background-color: white;
       border-bottom: 1px solid gray;
       display: block;
      }
   .header img{
       width: 20px;
       height: 20px;
       margin-top: 3px;
      }
   .header p{
       float: right;
       margin-right: 200px;
       font-size: 20px;
       font-weight: 700;
       color: gray;
     }
   .label{
       padding: 15px;
       
   }
   .wrapper{
   display: grid;
   overflow-x:;
   gap: 5px;
    grid-template-columns: auto auto auto;
    text-align: left;   
         }
        .wrapper h4{
            font-weight: 400;
            font-size: 12px;
            margin-top: 5px;
            margin-left: 15px; 
            text-overflow: ellipsis;
             white-space: nowrap; 
            width: 100px; 
            overflow: hidden;             
        }
        .wrapper p{
            font-weight: 1000;
            font-size: 12px;
            margin-top: 5px;
            margin-left: 15px; 
            text-overflow: ellipsis;
             white-space: nowrap; 
            width: 100px; 
            overflow: hidden;             
        } 
      .imgwrapper img{
       width: 120px;
       height: 150px;
       border-radius: 10px;
       margin-left: auto;
    margin-right: auto;
    display: block;      
   }
   imgwrapper h4{
       text-align: center;
       
          }   
   .productdiv{
       background-color: red;
       padding: 20px;
       color: white;
          }
    .productdiv h3{
        float: left;
    }
    .productdiv p{
        text-align: right;
        font-weight: 1000;
        color: white;
    }
    .buttonlabel{
    padding: 7px;
        background-color: black;
        position: sticky;
        bottom: 0;
 
    }
    .button{
        background: black;
    text-align: center;
    padding: 20px;
    }
   .button p{
       color: white;
       font-weight: 350;
       font-size: 10px;         
       }
    .button button{
         width: 50%;
         height: 50px;
         margin-right: auto;
         margin-left: auto;
         display: block;
         border: none;
         background: hsla(150, 250%, 25.1%, 1);
         border-radius: 10px;
         margin-top: 20px;
     }
